:root {
    --amarillo:#eadb0b;
    --negro:#000000;
    --blanco:#ffffff;
    --rojo: #eb0404;
    --gris: #787879;
    --azul:#3709e0;
    --anaranjado:#d16f1e;
}
h1 {
    color: var(--amarillo);
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    
}